body {
    margin: 0;
    padding: 0;
}


.our__gallery {
    display: block;
    width: 100%;
    height: 1800px;
    background-color: #FFE92F;
    margin: 0 auto;
    padding: 10px;
}

.our__gellery__header {
    margin-bottom: 20px;
}

.our__gellery__headline {
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, .6);
    margin: 0;
    padding-top: 20px;
}

.our__gallery__text {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 15px;
    color: rgba(0, 0, 0, .6);

}

.gallery__img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 785px;
    margin: 5px 0;
}

.img__second__row {
    max-width: 585px;
}

.gallery__btn {
    width: 120px;
    height: 55px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(219, 213, 213, .7);
    background-color: #5585a2;  
}






@media  (max-width: 991px) {

.our__gellery__headline {
    font-size: 40px;
}

.gallery__img {
    max-width: 300px;
    margin: 0 auto;
}


.our__gallery__text {
    font-size: 15px;
    padding-top: 10px;
}
} 

    @media (min-width: 992px) and (max-width: 1200px){
    
.our__gallery {
    display: block;
    width: 100%;
    height: 3200px;
    background-color: #FFE92F;
            
}
    
.our__gallery__box{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
} 

.gallery__img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 900px;
    margin-bottom: 10px;
}

source {
    margin: 25px;
}
}
    
    @media (min-width: 1201px){

.our__gallery {
    display: block;
    width: 100%;
    height: 1300px;
    background-color: #FFE92F;
            
}    

.our__gallery__box{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    flex-wrap: wrap;
    margin: 10px auto;
}
    
.box__column{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
}
    